
{# Title #}
<div class="flex justify-between items-center mt-12 p-3 border-l-8 border-prunoise bg-gray-100">
    <h2 class="text-2xl text-prunoise font-light">
        Fichier de production
    </h2>

    {# Option button #}
    <div>
        {% if is_granted('ADD_JOB_FILE', job) %}
            {% if job.jobFiles.empty %}
                {% set jobFileLabel = 'Charger un fichier' %}
            {% else %}
                {% set jobFileLabel = 'Charger un nouveau fichier' %}
            {% endif %}
            {{ include('component/button/button.html.twig', {
                href: path('job_jobfile_upload', { id: job.id }),
                label: jobFileLabel,
                labelClass: 'hidden md:block',
                icon: 'fas fa-plus',
                iconClass: 'py-1 md:hidden',
                size: 'small'
            }) }}
        {% endif %}
    </div>
</div>

{# Data #}
<div class="mt-4">
    {% if job.jobFiles is not empty %}
        {% for jobFile in job.jobFiles %}
            <div class="p-3 border border-gray-400 rounded-md flex justify-between items-center mt-2">
                <div class="mr-3">
                    {{ jobFile.sourceName }}
                    <span class="text-gray-400 italic text-sm">(Ajouté le {{ jobFile.date|date('d/m à H:i') }})</span>
                </div>

                <div>
                    {% if is_granted('REMOVE_JOB_FILE', job) %}
                        <a
                            href="{{ path('job_jobfile_remove', { id: job.id, fileId: jobFile.id }) }}"
                            class="hover:text-prunoise"
                        >
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center text-gray-400">Il n'y a aucun fichier pour ce job</div>
    {% endif %}
</div>
