<li class="py-2">
    <a
        href="{{ href }}"
        class="
            w-full
            p-2
            text-gray-500 hover:text-gray-100
            rounded
            transition ease-in-out duration-300
        "
    >
        {{ label|upper }}
    </a>
</li>
