{# Navbar menu item #}
<a
    href="{{ href }}"
    class="
        text-sm
        pt-8 pb-7 px-4
        border-b border-b-2 border-transparent hover:border-prunoise
        hover:shadow-md
        font-sans
        text-gray-500 hover:text-prunoise
        transition ease-in-out duration-300
    "
>
    {{ label|upper }}
</a>
